{% extends 'home.html'%}
{% block title%}Movimientos{% endblock %}
{% block h1%}Movimientos{% endblock %}
{% block content%}
<main class="container pt-2">
    <article class=" row row-cols-1 row-cols-md-2 g-4  col-9 listado pt-2">
        {% if user.cliente.customer_name == user.first_name %}
        {%for movimiento in movimiento%}
        <section class="col-5 mt-2 mb-4">
            <section class="card border-secondary ">
            <ul class="list-group list-group-flush" >
                <li class="list-group-item border-secondary text-center"><h4>Movimientos de {{user.username}} </h4></li>
                <li class="list-group-item border-secondary text-dark">Numero de Cuenta: {{movimiento.nro_cuenta}}</li>
                <li class="list-group-item border-secondary text-success">Tipo Operacion: {{movimiento.tipo_operacion}}</li>
                <li class="list-group-item border-secondary text-success">Hora: {{movimiento.hora}}</li>
                <li class="list-group-item border-secondary text-danger ">Monto Total: $ {{movimiento.flag}}{{movimiento.monto}}</li>
            </ul>
        </section>
    </section>
        {% endfor %}
        {% else %}
                        <li class="list-group-item border-secondary text-danger">El Usuario <strong>{{user.username}}</strong> No tiene Trajetas registradas</li>
                    {% endif %}

    </article>
</main>
{%endblock%}