{% extends 'home.html'%}
{% block title%}Registrar{% endblock %}
{% block content%}
<h2>Registro</h2>

<form method="post">
    {% csrf_token %}
    <div class="card mx-auto" style="width: 33rem;">
        <div class="card-body">
            <h4 class="card-title">Ingrese sus Datos</h4>
            <div class="mb-3">
                <label for="usu" class="form-label">Usuario:</label>
                <input type="text" class="form-control" name="username" id="usu" placeholder="Nombre de Usuario">
            </div>
            <span id="usu" class="form-text">
                150 carácteres como máximo.
                <br>
                Únicamente letras, dígitos y @/./+/-/_
            </span>
            <div class="mb-3">
                <label for="fs" class="form-label">Nombre:</label>
                <input type="text" required class="form-control" name="first_name" id="fs" placeholder="Nombre">
            </div>
            <div class="mb-3">
                <label for="ls" class="form-label">Apellido:</label>
                <input type="text" required class="form-control" name="last_name" id="ls" placeholder="Apellido">
            </div>

            <div class="mb-3">
                <label for="dni" class="form-label">DNI:</label>
                <input type="text" required class="form-control" name="customer_DNI_id" id="dni" placeholder="DNI">
            </div>

            <div class="mb-3"><label for="contra" class="form-label">Contraseña:</label>
                <input type="password" required class="form-control" name="password1" id="contra"
                    placeholder="Contraseña">
            </div>
            <span id="contra" class="form-text">
                Su contraseña no puede asemejarse tanto a su otra información personal.
                <br>
                Su contraseña debe contener al menos 8 caracteres.
                <br>
                Su contraseña no puede ser una clave utilizada comúnmente.
                <br>
                Su contraseña no puede ser completamente numérica.

            </span>
            <div class="mb-3"><label for="contra2" class="form-label">Contraseña (confirmación):</label>
                <input type="password" required class="form-control" name="password2" id="contra2"
                    placeholder="Contraseña (confirmación)">
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="submit" value="register" >Registrar</button>
            </div>
        </div>
    </div>

</form>
{%endblock%}